/* BREAKPOINTS */

// Very small smartphone devices
$screen-xs-min: 320px;

// Small smartphone devices
$screen-sm-min: 375px;

// Small tablets and large smartphones (landscape view)
$screen-xm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// X Large desktop screen
$screen-xxl-min: 1440px;

/*----------------------------------------------------------------*/

/* COLORS */

$white: #ffffff;
$black: #000000;

/*----------------------------------------------------------------*/
