/*
  TEXT MIXIN
  If the $size / $lineHeight / $weight arguments are not empty,
  then output the argument.
*/

@mixin text(
  $size: null,
  $lineHeight: null,
  $letter_spacing: null,
  $weight: null
) {
  @if $size != null {
    font-size: $size;
  }

  @if $lineHeight != null {
    line-height: $lineHeight;
  }

  @if $letter_spacing != null {
    letter-spacing: $letter_spacing;
  }

  @if $weight != null {
    font-weight: $weight;
  }
}

/*----------------------------------------------------------------*/

/*
  MEDIA QUERIES MIXINS
  Used to define the viewport width in a media query.
*/

@mixin min-width($threshold) {
  @media screen and (min-width: pixel-to-em($threshold)) {
    @content;
  }
}

// Very Small devices
@mixin screen-xxs($threshold: $screen-xxs-min) {
  @media screen and (min-width: #{$threshold}) {
    @content;
  }
}

// Small devices
@mixin screen-xs($threshold: $screen-xs-min) {
  @media screen and (min-width: #{$threshold}) {
    @content;
  }
}

// Small devices
@mixin screen-sm($threshold: $screen-sm-min) {
  @media screen and (min-width: #{$threshold}) {
    @content;
  }
}

// Medium devices
@mixin screen-md($threshold: $screen-md-min) {
  @media screen and (min-width: #{$threshold}) {
    @content;
  }
}

// Large devices
@mixin screen-lg($threshold: $screen-lg-min) {
  @media screen and (min-width: #{$threshold}) {
    @content;
  }
}

// Extra large devices
@mixin screen-xl($threshold: $screen-xl-min) {
  @media screen and (min-width: #{$threshold}) {
    @content;
  }
}

// XX large devices
@mixin screen-xxl($threshold: $screen-xxl-min) {
  @media screen and (min-width: #{$threshold}) {
    @content;
  }
}

// Custom devices
@mixin customBreakPoint($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

// Make grid
@mixin make-grid($gap: null, $cols: null, $rows: null) {
  display: grid;

  @if $gap != null {
    gap: $gap;
  }

  @if $cols != null {
    grid-template-columns: repeat($cols, minmax(0, 1fr));
  }

  @if $rows != null {
    grid-template-rows: repeat($rows, minmax(0, 1fr));
  }
}
